body { 
color:green;
font-family:Verdana;
font-weight: normal;

background-image: url(mountain.JPG);
font-size: 25px;
border-color:black;
border-width:4px;
border-style:solid;
}
h1{
text-decoration:underline;
font-size: 150%;
text-align:center;
}

h2, h3{
text-decoration:underline;
font-size: 1.2em;
text-align:center;
}

h4{
text-decoration:underline;

}

#para1homepage {color:orange;font-family:arial; text-align:center;}

p.paragraph{color:red;font-size:15px;
line-height:1.5em;
background-color:#e5e4d7;
padding:20px 20px 5px 50px;
border:black 10px solid;
border-style:outset;

border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;


margin-left:100px;



}
#para4homepage
{color:green;font-size:15px;
line-height:1.5em;
background-color:#ffcf79;
padding:10px;
border-color:#296A64;
border-width:thick;
border-style:dashed;
margin:20px;
margin-top:50px;
margin-left:400px;
margin-right:0px;
padding-left:40px;
}
img.imagec {
display:block;
text-align:center;
margin-left:auto;
margin-right:auto;
padding: 6px;
background-color:silver;
border-color:black;
border-width:2px;
border-style:solid;
}
#divmain
{color:black;
}
#divmain2
{color:purple;
}
.highlight
{
background-color:yellow;

}
.highlight0
{
font-size: 25px;
font-family:bold;
background-color:skyblue;
}
.divcontent 
{
font-size: 70% ;
}

a:link {
color: blue ;
}

a:visited {
color: #8C8c9D ;
}
a:hover {
color: #F15A51 ;
}